POSTGRES_DB=link_vault_db
POSTGRES_USER=linkvault
POSTGRES_PASSWORD=change-me

PGADMIN_EMAIL=admin@linkvault.dev
PGADMIN_PASSWORD=change-me

APP_JWT_ISSUER=link-vault-api
APP_JWT_SECRET=change-this-secret-to-a-long-random-string-at-least-32-chars
APP_JWT_EXPIRATION_MINUTES=120
APP_SEED_DEMO_DATA=false
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=link-vault
CLOUDINARY_USE_SECURE_URL=true
CLOUDINARY_MAX_FILE_SIZE_MB=20
CLOUDINARY_ALLOWED_FORMATS=jpg,jpeg,png,webp,gif,svg,pdf,doc,docx,xls,xlsx,ppt,pptx,txt,md,csv,json,xml,yaml,yml,log,java,kt,py,ts,tsx,js,jsx,html,css,scss,sql,sh,ps1,c,cpp,h,hpp,cs,go,rs,php,rb,swift,dart,zip,rar,7z,mp3,wav,mp4,webm,mov

